<p id="notice"><%= notice %></p>

<h1>Transactions</h1>

<table id="transactions" class="display" style="width:100%">
    <thead>
        <tr>
          <th>id</th>
          <th>User</th>
          <th>From amount</th>
          <th>From currency</th>
          <th>To amount</th>
          <th>To currency</th>
          <th>Transaction date</th>
          <th>Control</th>
        </tr>
    </thead>
</table>





<br>

<%= link_to 'New Transaction', new_transaction_path %>
